<table>
<%
    for (var i = 0; i < temas.length; i++) {
%>
    <tr>
        <td><a href="temas/<%= temas[i].id %>/quizes"><%= temas[i].nombre %></a></td>
        <td><a href="temas/<%= temas[i].id %>/edit"><button>editar</button></a></td>
        <td>
        	<form method="post" action="temas/<%= temas[i].id %>?_method=DELETE">
        		<button type="submit" onclick="return confirm('Borrar: <%= temas[i].nombre %>');">borrar</button>
        	</form>
       	</td>
    </tr>
<%
    }
%>
</table>
<p>
    <a href="/temas/new"><button type="button">Crear tema</button></a>
</p>