<strong>Estadísticas</strong>
<div class="statistics">
	<table class="statistics">
		<tbody>
			<tr>
				<td>Número de preguntas</td>
				<td><%=statistics.quizzes%></td>
			</tr>
			<tr>
				<td>Número de comentarios totales</td>
				<td><%=statistics.comments%></td>
			</tr>
			<tr>
				<td>Número medio de comentarios por pregunta</td>
				<td><%=statistics.comments_avg%></td>
			</tr>
			<tr>
				<td>Número de preguntas sin comentarios</td>
				<td><%=statistics.quizzes_no_comments%></td>
			</tr>
			<tr>
				<td>Número de preguntas con comentarios</td>
				<td><%=statistics.quizzes_comments%></td>
			</tr>
		</tbody>
	</table>
</div>